.ves-entry-list {
  --ves-entry-list-frame-color: var(--ves-global-color-kyanite);
  --ves-entry-list-item-border-color: var(--ves-divider-color);
  --ves-entry-list-item-hover-border-color: var(--ves-global-color-cerulean);
  --ves-entry-list-item-hover-bg-color: var(--ves-global-color-celestial);
  --ves-entry-list-item-active-bg-color: var(--ves-global-color-kyanite);
}

.ves-entry-list__title {
  --ves-trapezoid-clip-size: 24px;
  display: flex;
  align-items: center;
  clip-path: polygon(
    0 0,
    calc(100% - var(--ves-trapezoid-clip-size)) 0,
    100% 100%,
    0 100%
  );
  margin-top: 16px;
  background-color: var(--ves-entry-list-frame-color);
  padding-top: 8px;
  padding-right: calc(var(--ves-trapezoid-clip-size) * 2);
  padding-bottom: 8px;
  padding-left: var(--ves-trapezoid-clip-size);
  width: fit-content;
  height: var(--ves-grid-size);
  font-size: var(--ves-font-size-lg);
}

.ves-entry-list__items {
  border: 1px solid var(--ves-entry-list-frame-color);
  padding: var(--ves-spacing-9);
}

.ves-entry-list__empty {
  display: flex;
  align-items: center;
  padding: 0 var(--ves-spacing-8);
  height: var(--ves-grid-size);
}

.ves-entry-list__item,
.ves-entry-list__empty {
  list-style: none;
}

.ves-entry-list__item {
  border-top: 1px solid var(--ves-entry-list-item-border-color);

  &:last-child {
    border-bottom: 1px solid var(--ves-entry-list-item-border-color);

    &:hover:not(.ves-entry-list__item--disabled) {
      border-color: var(--ves-entry-list-item-hover-border-color);
    }
  }

  &:hover {
    &:not(.ves-entry-list__item--disabled) {
      &,
      + .ves-entry-list__item {
        border-top-color: var(--ves-entry-list-item-hover-border-color);
      }
    }
  }
}

.ves-entry-list__item--disabled {
  .ves-entry-list__item-content {
    opacity: 0.5;
    background: var(--ves-global-color-asteroid);
  }
}

.ves-entry-list__item-content {
  display: flex;
  align-items: center;
  gap: var(--ves-spacing-6);
  padding: 0 var(--ves-spacing-8);
  height: var(--ves-grid-size);
}

.ves-entry-list__item-link {
  display: block;

  &:hover {
    background: var(--ves-entry-list-item-hover-bg-color);
  }

  &:active {
    background: var(--ves-entry-list-item-active-bg-color);
  }
}

.ves-entry-list__item-date {
  flex: 0 0 140px;
  color: var(--ves-global-color-ice);
  font-weight: var(--ves-font-weight-semibold);
  font-size: var(--ves-font-size-2xs);
  letter-spacing: 0.3em;
  text-align: end;
  text-transform: uppercase;
}

.ves-entry-list__item-title {
  flex-grow: 1;
  min-width: 0;
  font-weight: var(--ves-font-weight-regular);
  font-size: var(--ves-font-size-sm);
  letter-spacing: 0.1em;
}
