:root {
  --ves-global-color-light: #edf8fe;
  --ves-global-color-moonrock: #c1e1f3;
  --ves-global-color-ice: #76b7d1;
  --ves-global-color-enceladus: #2ad8f0;
  --ves-global-color-cerulean: #23c0ff;
  --ves-global-color-celestial: #015881;
  --ves-global-color-kyanite: #004460;
  --ves-global-color-dusk: #011e30;
  --ves-global-color-midnight: #011119;
  --ves-global-color-asteroid: #394f58;
  --ves-global-color-cydonia: #ffce84;
  --ves-global-color-aurora: #44e1bb;
  --ves-global-color-gliese: #e35490;

  --ves-global-font-primary-name: 'Eurostile';

  --foreground-rgb: 191, 224, 242;
  --background-start-rgb: 11, 23, 34;
  --background-end-rgb: 255, 255, 255;
  --grid-line-color: #88a6b4;
  --grid-line-color-secondary: #6e93a3;
  --grid-line-color-tertiary: #8fb99c;
  --grid-line-width: 1px;
  --grid-dot-color: #305c59;
  --grid-dot-size: 2px;
  --grid-dot-offset: 0.5px;
  --ves-grid-size: 48px;

  --ves-border-radius: 0;

  --vignette-shadow-start: rgb(2, 16, 25);
  --vignette-shadow-end: rgb(7, 8, 9);
  --vignette-glow-start: rgba(6, 112, 152, 0.1);
  --vignette-glow-end: rgba(10, 24, 52, 0.1);

  --ves-border-color: var(--ves-global-color-kyanite);
  --ves-divider-color: var(--ves-global-color-kyanite);

  --ves-font-primary: 'Eurostile', Helvetica, Arial, sans-serif;

  --main-glow-color: var(--ves-global-color-kyanite);
  --main-glow-height: calc(var(--ves-grid-size) * 3);

  --ves-font-size-base: 16px;

  /** Scale of 1.125 */
  --ves-font-size-3xl: 2.027rem; /* 32.44px */
  --ves-font-size-2xl: 1.602rem; /* 25.63px */
  --ves-font-size-xl: 1.424rem; /* 22.78px */
  --ves-font-size-lg: 1.266rem; /* 20.25px */
  --ves-font-size-md: 1.125rem; /* 18px */
  --ves-font-size-sm: 1rem; /* 16px */
  --ves-font-size-xs: 0.889rem; /* 14.22px */
  --ves-font-size-2xs: 0.79rem; /* 12.64px */

  --ves-font-weight-light: 200;
  --ves-font-weight-regular: 400;
  --ves-font-weight-semibold: 600;
  --ves-font-weight-bold: 800;

  --ves-spacing-1: 2px;
  --ves-spacing-2: 4px;
  --ves-spacing-3: 8px;
  --ves-spacing-4: 12px;
  --ves-spacing-5: 16px;
  --ves-spacing-6: 24px;
  --ves-spacing-7: 32px;
  --ves-spacing-8: 36px;
  --ves-spacing-9: 48px;
  --ves-spacing-10: 64px;
}
