:root {
  --ves-global-color-light: oklch(0.97 0.015 225);
  --ves-global-color-moonrock: oklch(0.88 0.04 225);
  --ves-global-color-ice: oklch(0.73 0.06 225);
  --ves-global-color-enceladus: oklch(0.82 0.11 210);
  --ves-global-color-cerulean: oklch(0.74 0.13 225);
  --ves-global-color-celestial: oklch(0.38 0.08 230);
  --ves-global-color-kyanite: oklch(0.36 0.08 234.03);
  --ves-global-color-dusk: oklch(20.476% 0.04819 250.073);
  --ves-global-color-midnight: oklch(0.18 0.03 229.2);
  --ves-global-color-asteroid: oklch(0.35 0.02 235);
  --ves-global-color-cydonia: oklch(79.571% 0.09429 75.227);
  --ves-global-color-aurora: oklch(0.82 0.12 170);
  --ves-global-color-gliese: oklch(0.64 0.18 350);

  --ves-global-font-primary-name: 'Eurostile';

  --foreground-color: var(--ves-global-color-moonrock);
  --background-start-color: var(--ves-global-color-dusk);
  --background-end-color: var(--ves-global-color-light);
  --grid-line-color: oklch(71.558% 0.03836 223.453);
  --grid-line-color-secondary: oklch(0.61 0.04 225);
  --grid-line-color-tertiary: oklch(66.711% 0.09524 156.364);
  --grid-line-width: 1px;
  --grid-dot-color: oklch(0.39 0.04 190);
  --grid-dot-size: 2px;
  --grid-dot-offset: 0.5px;
  --ves-grid-size: 48px;

  --ves-border-radius: 0;

  --vignette-shadow-start: oklch(0.14 0.01 249.02);
  --vignette-shadow-end: oklch(0.14 0.02 247.84);
  --vignette-glow-start: oklch(0.47 0.08 230 / 0.1);
  --vignette-glow-end: oklch(0.18 0.06 250 / 0.1);

  --ves-border-color: var(--ves-global-color-kyanite);
  --ves-divider-color: var(--ves-global-color-kyanite);

  --ves-font-primary: 'Eurostile', Helvetica, Arial, sans-serif;

  --main-glow-color: var(--ves-global-color-kyanite);
  --main-glow-height: calc(var(--ves-grid-size) * 3);

  --ves-font-size-base: 14px;

  /** Scale of 1.125 */
  --ves-font-size-3xl: 2.027rem; /* 28.378px */
  --ves-font-size-2xl: 1.602rem; /* 22.428px */
  --ves-font-size-xl: 1.424rem; /* 19.936px */
  --ves-font-size-lg: 1.266rem; /* 17.724px */
  --ves-font-size-md: 1.125rem; /* 15.75px */
  --ves-font-size-sm: 1rem; /* 14px */
  --ves-font-size-xs: 0.889rem; /* 12.446px */
  --ves-font-size-2xs: 0.79rem; /* 11.06px */

  --ves-font-weight-light: 200;
  --ves-font-weight-regular: 400;
  --ves-font-weight-semibold: 600;
  --ves-font-weight-bold: 800;

  --ves-spacing-1: 2px;
  --ves-spacing-2: 4px;
  --ves-spacing-3: 8px;
  --ves-spacing-4: 12px;
  --ves-spacing-5: 16px;
  --ves-spacing-6: 24px;
  --ves-spacing-7: 32px;
  --ves-spacing-8: 36px;
  --ves-spacing-9: 48px;
  --ves-spacing-10: 64px;
}
