.vespertina-theme--dark {
  color: var(--foreground-color);

  main {
    background:
      radial-gradient(
        ellipse 50% var(--main-glow-height) at 50% top,
        var(--main-glow-color),
        transparent
      ),
      oklch(from var(--ves-global-color-midnight) l c h / 0.15);
  }
}

body.vespertina-theme--dark {
  position: relative;
  background: linear-gradient(
    to bottom,
    transparent,
    var(--background-end-color)
  );
  background-image:
    radial-gradient(
      var(--vignette-glow-start) 29%,
      var(--vignette-glow-end) 100%
    ),
    radial-gradient(
      var(--vignette-shadow-start) 71%,
      var(--vignette-shadow-end) 100%
    );
  scroll-behavior: smooth;
  font-size: 1rem;
  line-height: 1.6;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
  }

  &::before {
    --dot-grid-offset: calc(
      var(--ves-grid-size) * -2 - (var(--grid-dot-size) / 2)
    );

    mix-blend-mode: overlay;
    background-image:
      repeating-linear-gradient(
        to right,
        transparent 0 var(--ves-grid-size),
        var(--grid-line-color-tertiary)
          calc(var(--ves-grid-size) - var(--grid-line-width))
          calc(var(--ves-grid-size) + var(--grid-line-width)),
        transparent calc(var(--ves-grid-size) + var(--grid-line-width))
          calc(var(--ves-grid-size) * 2)
      ),
      repeating-linear-gradient(
        to bottom,
        transparent 0 var(--ves-grid-size),
        var(--grid-line-color-tertiary)
          calc(var(--ves-grid-size) - var(--grid-line-width))
          calc(var(--ves-grid-size) + var(--grid-line-width)),
        transparent calc(var(--ves-grid-size) + var(--grid-line-width))
          calc(var(--ves-grid-size) * 2)
      ),
      repeating-linear-gradient(
        to right,
        var(--grid-line-color) 0,
        var(--grid-line-color) var(--grid-line-width),
        transparent calc(var(--grid-line-width) + 1px),
        transparent var(--ves-grid-size)
      ),
      repeating-linear-gradient(
        to bottom,
        var(--grid-line-color) 0 var(--grid-line-width),
        transparent var(--grid-line-width) var(--ves-grid-size)
      ),
      repeating-linear-gradient(
        to bottom,
        var(--grid-line-color-secondary) 0 var(--grid-line-width),
        transparent var(--grid-line-width) 4px
      );
  }

  &::after {
    background-image: radial-gradient(
      var(--grid-dot-color) 0 calc(var(--grid-dot-size) / 2),
      transparent calc(var(--grid-dot-size) / 2) var(--grid-dot-size)
    );
    background-position: var(--dot-grid-offset) var(--dot-grid-offset);
    background-size: calc(var(--ves-grid-size) * 2)
      calc(var(--ves-grid-size) * 2);
  }
}
