#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  margin-top: 20vh;
  height: 20vh;
  width: 20vh;
  will-change: filter;
  transition: filter 300ms;
}
