html {
  font-size: var(--ves-font-size-base);
}

.vespertina-theme {
  font-family: var(--ves-font-primary);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}
